<html>
	<head>
		<title>Kelsey's 1st Sinatra App</title>
	</head>

		<body>

			<a href="/">Home Page</a>
			<a href="/contact">Contact Me</a>
			<a href="/survey">Free Personality Test!</a>
			<hr>
			<%= yield %>

		</body>
</html>